h1, h4, h5, body, a, card-text{
    font-family: 'Raleway', sans-serif;
    
}

.navbar{
    height: 100px;
}

#me-image{
    margin-top: 40px;
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}
a:active{
    background-color: none;
}
.nav-link{
    color: black;
}
form{
    padding:50px;
    align-content: center;
    margin-top: 20px;
}

h4, .connect {
    clear: both;
    text-align: center;
    margin-top: 40px;
}

.card {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align:center;
    height: auto;
    width: auto;   
}

