html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h5 {
    color:wheat;
    text-align: center;
}

.btn {
    margin:auto;
    display:block;  
}

.card {
    float: left;
    width: 60%;
    margin-left: 6px;
    margin-right: 6px;
}
.cont{
    clear: both;
    text-align: center;
    padding: 15px;
}

.card-title, .nav-link {
    color: orange;
}
 #me-image{
     padding: 15px;
     float: left;
     border-radius: 50%;
 }

 .skills{
     clear: both;
    
 }

 #projects{
     clear: both;
     padding: 30px;
 }

 footer {
     height: 200px;
     width: 100%;
     background-color: gray;
     padding: 25px;
 }

 #skillsCard{
     height: 500px;
 }

 .card-body, .tab-content{
     padding: 20px;
 }

 ul {
     column-count: 2;
     list-style-type: circle;
     
 }

body{
    background-image: url(../images/MHcenter.JPG);
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


