html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, h5 {
    color:wheat;
    text-align: center;
}

.btn {
    margin:auto;
    display:block;  
}

.card {
    float: left;
    width: 60%;
    margin-left: 6px;
    margin-right: 6px;
}
#contactForm, .connect{
    clear: both;
    text-align: center;
}

.card-title, .nav-link {
    color: orange;
}
 #me-image{
     float: left;
     padding: 15px;
 }